
.conttitre{
    display: flex;
    justify-content: center;
}

.titre{
    background-color: black;
    color: white;
    height: 40px;
    font-size: 25px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btt{
    margin-top: 10px;
    text-align: center; 
}

#bt1, #bt2, #bt3, #bt4, #bt5, #bt6, #bt7{
    width: 100px;
    height: 20px;
    margin: 7px; 
}

#bt1:hover, #bt2:hover, #bt3:hover, #bt4:hover, #bt5:hover, #bt6:hover, #bt7:hover{
    background-color: black;
    color: white;
}

.c2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cont2{
    background: grey;
    width: 800px;
    height: 400px;
}

h5{
    margin: 40px 0 0 40px;
}

.c1{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background: grey;
    width: 800px;
    height: 400px;
}

.cont1{
    width: 600px;
    height: 350px;
}

h4{
    font-size: 30px;
    width: 600px;
    height: 35px;

}

p{
    font-size: 15px;
}




.c3{
    margin: auto;
    margin-top: 30px;
    background: grey;
    width: 800px;
    height: 200px;
}

.cont3{
    margin-left: 40px;
    width: 600px;
    height: 350px;
}

h2{
    position: relative;
    top: 25Px;
    font-size: 30px;
    width: 600px;
    height: 35px;

}

p{
    font-size: 15px;
}

.c4{
    margin: auto;
    margin-top: 30px;
    background: grey;
    width: 800px;
    height: 450px;
}

.cont4{
    margin-left: 40px;
    width: 800px;
    height: 400px;
}

#carrer{
    display: block;
    width: 50px;
    height:50px;
    background: red;
}

#carrer2{
   display: none;
    width: 50px;
    height:50px;
    background: red;
}

#ttcarre{
    position: relative;
    top: 30px;
    display: flex;
    margin: auto;
}


#carre1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 130px;
    background: blue;
    margin: 10px;
}

#carre2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 130px;
    background: blue;
    margin: 10px;
}

#btn{
    position: relative;
    top: 90px;
    margin: auto;
    width: 200px;
    height: 150px;
}

#btnj{
    background: orange;
    height: 40Px;
    border-radius: 8Px;
    border: none;
    font-size: 13px;
    color: white;
}

#btnv{
    background: green;
    border-radius: 8Px;
    height: 40Px;
    border: none;
    margin-top: 20px;
    font-size: 13px;
    color: white;
}


.c5{
    margin: auto;
    margin-top: 30px;
    background: grey;
    width: 800px;
    height: auto;
}

.cont5{
    margin-left: 40px;

}

#hh2{
    position: relative;
    top: 30px;
}

#ppp{
    position: relative;
    top: 30px;
}

#goo, #goo2{
    position: relative;
    top: 30px;
    font-size: 18px;
    color: white;
    background-color: mediumseagreen;
    border: none;
    height: 30px;
}

.list-oeuf{
    margin-top: 30px;
}